MONGO_URL =  'mongodb+srv://serokurovmaksim91:serokurovmaksim91serokurovmaksim91@cloud.znu5rpf.mongodb.net/?retryWrites=true&w=majority'
MONGO_URL_DOCKER_ = 'mongodb://mongo:27017/test'
PORT = 5200
PORT_DOCKER = 5200